<?xml version='1.0' encoding='utf-8'?>
<widget id="com.atomic.boilerplate.cordova" ios-CFBundleIdentifier="com.ios.atomic.boilerplate.cordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="blob:*" />
    <!-- <allow-navigation href="blob:https://localhost/" /> -->
    <allow-navigation href="about:blank" />

    <preference name="EnableViewportScale" value="true"/>

    <platform name="android">
      <resource-file src="google-services.json" target="/app/google-services.json" />
    </platform>

</widget>
